body {
    background: url('http://i.imgur.com/ry7PyVt.jpg') no-repeat center center fixed;
    color: #FFFFFF;
}

h1 {
    text-align: center;
}

#container {
    background: rgba(122,122,122,0.5);
    margin: 0 auto;
    border-radius: 50px;
    width: 70%;
    max-width: 900px;
    padding-top: 10px;
    text-align: center;
}

#class1 {
    width: 80%;
}

#button {
    background-color: #FF0000;
    border-radius: 0px;
    color: #FFFFFF;
    font-size: 1.5em;
    height: 50px;
    width: 125px;
    margin: 10px;
}